.blogs {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
}

.blogs .start-journey {
    width: fit-content;
    text-align: center;
}

.blogs .start-journey a {
    background: #3f3f3f;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    color: white;
    transition: 0.3s;
}

.blogs .start-journey a:hover {
    color: #009688;
    opacity: 0.8;
}

.blogs .start-journey h2 {
    margin: 0;
    padding: 0;
}


.start-journey span {
    color: #009688;
    user-select: none;
    font-family: 'Eagle Lake', cursive !important;
}

.blog {
    transition: 0.3s;
    background-color: #333;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 300px;
}

.blog:hover {
    box-shadow: #009688 0px 7px 20px 5px;
}

.blog .author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
}

.blog .delete {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
}

.blog .delete button {
    color: white;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.blog .delete a button {
    opacity: 0.8;
    color: white;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #009688;
}

.blog .delete a button:hover {
    opacity: 1;
    background-color: #009688;
}

.deleteBtn {
    color: white;
    transition: 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    background: #b90c0c;
}

.deleteBtn:hover {
    opacity: 1;
}