@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

body {
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------ */
.loading,
.error {
    text-align: center;
    color: #009688;
}

.author,
.time {
    line-height: 1.7;
    opacity: 0.5;
}

.blog-content {
    line-height: 1.9;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100Vh - 88px);

}

.error h1 {
    color: #009688;
    font-size: 60px;
}

.error h2 {
    color: white;
}