.add-blog {
    color: white;
}

.add-blog h1 {
    color: #009688;
    text-align: center;
}

.add-blog .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-blog form div {
    text-align: start;
}

.add-blog label {
    margin: 1.5rem 0 0.5rem 0;
    display: inline-block;
}

.add-blog input,
.add-blog textarea {
    background-color: #3f3f3f;
    padding: 10px;
    border-radius: 6px;
    width: 350px;
    transition: 0.3s;
    outline: 3px solid transparent;
    border: none;
}


.add-blog input:not(:focus),
.add-blog textarea:not(:focus) {
    color: white;
}

.add-blog input::placeholder,
.add-blog textarea::placeholder {
    color: white;
    opacity: 0.5;
}

.add-blog input:focus-visible,
.add-blog textarea:focus-visible {
    color: white;
    border: none;
    outline: 3px solid #009688;
}

@media (max-width:320px) {

    .add-blog input,
    .add-blog textarea {
        width: 280px;
    }
}

.add-blog textarea {
    height: 300px;
}

.submit {
    margin: 10px auto;
    width: fit-content;
}

.submit .addBtn {
    padding: 10px;
    border-radius: 6px;
    outline: 3px solid transparent;
    border: none;
    transition: 0.3s;
    width: fit-content;
    color: white;
    background-color: #009688;
}

.submit .addBtn:hover {
    cursor: pointer;
    opacity: 0.8;
}