.navbar {
    background-color: #3f3f3f;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content .logo h1 {
    color: #009688;
    user-select: none;
    font-family: 'Eagle Lake', cursive !important;
}

.content .links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content .links ul li {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    user-select: none;
    border-radius: 6px;
    color: white;
    background-color: #009688;
    transition: .3s;
}

.content .links ul li:hover {
    opacity: .8;
}